<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="EKS" value="http://bifrost.fft-it.de/nexus/repository/nuget_rf/" allowInsecureConnections="true" />
    </packageSources>
    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="EKS">
            <package pattern="EKS.*" />
        </packageSource>
    </packageSourceMapping>
</configuration>
